body {
  font-family: "Poppins", sans-serif;
  background-color: #fafbff;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
  border: transparent;
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .block {
    display: flex;
  }
}
