include ../mixins/svg
include ../mixins/navListItem

block content
    aside.sidebar
        .sidebar-container 
            a.sidebar__logo(href="index.html")
                +svg("icon-logo", "37", "37")
                p Dashboard 
                    span.sidebar__span v.01

            nav.nav
                ul.nav-list
                    +navListItem("icon-stroke", "icon-key", false)
                        | Dashboard
                    +navListItem("icon-fill", "icon-cube")
                        | Product
                    +navListItem("icon-stroke", "icon-user", true, "#", "nav-link--active")
                        | Customers
                    +navListItem("icon-stroke", "icon-wallet")
                        | Income
                    +navListItem("icon-fill", "icon-promote")
                        | Promote
                    +navListItem("icon-fill", "icon-help")
                        | Help

        .avatar
            img.avatar__image(src="images/avatar.png" width="42" height="42")
            .avatar-description
                p.avatar-description__name Evano
                p.avatar-description__position Project Manager