@media screen and (max-width: 767px) {
  .table__container {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .table__container {
    padding: 8px;
    padding-bottom: 30px;
    background: #fff;
  }

  .table {
    margin: 0 auto;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.01em;
    border-collapse: collapse;
  }

  .table__header {
    border-bottom: 1px solid #eee;
    color: #b5b7c0;
  }

  .table__cell {
    padding: 19px 10px;
    border-bottom: 1px solid #eee;
    color: #292d32;
  }

  .table__cell--header {
    padding: 0px 10px 14px;
    font-weight: 500;
    text-align: start;
  }

  .table__cell--status {
    text-align: center;
  }

  .table__cell > .status {
    padding: 4px 12px;
    border-radius: 4px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.01em;
  }

  .table__cell > .status--active {
    border: 1px solid #00b087;
    background-color: rgba(22, 192, 152, 0.38);
    color: #008767;
  }

  .table__cell > .status--inactive {
    border: 1px solid #df0404;
    background-color: #ffc5c5;
    color: #df0404;
  }
}

@media screen and (min-width: 1024px) {
  .table {
    font-size: 14px;
  }

  .table__cell {
    padding: 19px 26px;
  }

  .table__cell--header {
    padding: 24px 26px;
  }
}
