block vars
    - var title = 'Customers';

block content
    .customers-page
        .customers__container
            .customers__description-container
                h2.customers__title All Customers
                p.customers__status Active Members

            .search-container 
                lable.search-label
                    .search-icon
                        +svg("icon-search", "24", "24")
                    input.search-input(type="text" placeholder="Search")

        include ../partials/customers-table-mobile
        include ../partials/customers-table