.customers-page {
  background: #f9fbff;
  padding: 0 8px;
  padding-bottom: 30px;
}

.customers-title {
  padding: 20px 8px;
  font-weight: 500;
  font-size: 24px;
}

.customers__container {
  background: #fff;
  padding: 30px 8px 40px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.customers__subtitle {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -0.01em;
  color: #000;
}

.customers__status {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #16c098;
}

.search-label {
  display: inline-block;
  width: 100%;
  position: relative;
  background: #fff;
}

.search-input {
  width: 100%;
  height: 38px;
  padding-left: 40px;
  border: 1px solid #eee;
  border-radius: 10px;
  outline: transparent;

  background: #f9fbff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-input:hover,
.search-input:focus {
  border: 1px solid #cccccc;
}

.search-icon {
  position: absolute;
  top: 7px;
  left: 7px;
}

.search-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.page-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 40px 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  background-color: #fff;
}

.page-counter__description {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.page-counter__container-list {
  display: flex;
}

.page-counter__list {
  display: flex;
  gap: 12px;
}

.prev-page {
  margin-right: 12px;
}

.next-page {
  margin-left: 12px;
}

.page-counter__button {
  min-width: 25px;
  height: 24px;
  padding: 6px 8px;
  border: 1px solid #eee;
  border-radius: 4px;

  background-color: #f5f5f5;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #404b52;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.01em;
}

.page-counter__button:hover,
.page-counter__button:focus {
  border: 1px solid #5932ea;
  color: #fff;
  background-color: #5932ea;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .search-container {
    width: 216px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .customers-title {
    padding: 20px 38px;
  }

  .customers__container {
    display: flex;
    justify-content: space-between;
    padding: 30px 38px 40px;
  }

  .customers__status {
    margin-bottom: 0;
  }

  .search-input {
    border: 1px solid transparent;
  }

  .page-counter {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 40px 40px;
  }

  .page-counter__description {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .customers-page {
    padding: 0 21px;
    padding-bottom: 51px;
  }

  .customers-title {
    padding-top: 31px;
    padding-bottom: 51px;
  }
}

@media screen and (min-width: 1440px) {
  .customers-page {
    padding-left: 71px;
    padding-right: 71px;
  }
}
